@import "@/styles/mixins/shadow";

.GenericContainer {
  padding: $spacing-unit;
  border-radius: 8px;
  background-color: $color-white;
  @include shadow;

  &__title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid $color-tertiary;
    font-size: 1.75rem;
  }

  &__content {
    padding: $spacing-unit 0;
  }
}
