@import '../../../app-colors.scss';

.TimelineButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  font-weight: bold;
  scale: 0.8;

  &.selected {
    justify-content: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: -2px 0 4px $box-shadow;
    scale: 1;
  }
}
