@import '../../app-colors.scss';


.OperationTable {
  padding: 10px;

  .cell {
    padding: 5px 0;
  }

  .header {
    display: flex;
    .cell {
      border-bottom: 1px solid $black;
      font-weight: bold;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    .row {
      display: flex;
      align-items: center;

      &.positive {
        background-color: $white;
      }
      &.negative {
        background-color: $white;
      }
    }
  }


  .column-date {
    width: 130px;
  }
  .column-amount {
    width: 90px;
  }
  .column-ref {
    flex-grow: 1;
  }
  .column-labels {
    width: 200px;
  }
  .column-actions {
    width: 200px;
  }

}
