@import "@/styles/mixins/input";

.LabelsSelector {
  position: relative;
  display: inline-block;

  $min-width: 200px;

  .selection-container {
    @include input;
    display: inline-flex;
    flex-wrap: wrap;
    min-width: $min-width;
    height: 30px;
    padding: 4px;

    .placeholder {
      align-self: center;
      color: $color-tertiary-dark;
    }

    .LabelBadge {
      margin: 0 2px;
    }
  }

  .options-container {
    position: absolute;
    z-index: 1;

    &.hidden {
      display: none;
    }

    display: flex;
    flex-direction: column;
    gap: 4px;

    min-width: $min-width;
    margin-top: 10px;
    padding: calc($spacing-unit / 2);
    border-radius: 4px;
    box-shadow: 0 1px 4px $color-shadow;
    background-color: $color-white;

    .option {
      display: flex;
      align-items: center;
      gap: $spacing-unit;
    }
  }
}
