.OperationForm {
  display: flex;
  align-items: flex-start;

  .DateInput {
    width: 100px;
  }

  .AmountInput {
    width: 80px;
  }

  .ReferenceInput {
    flex-grow: 1;
    padding: 0 5px;
  }

  .LabelsSelector {
    width: 200px;
  }

  .submit-button-container {
    width: 100px;
    padding: 0 5px;
  }

}
