.OperationForm {
  display: flex;
  align-items: flex-start;
  background-color: $color-white;

  .DateInput {
    width: 100px;
  }

  .AmountInput {
    width: 80px;
  }

  .ReferenceInput {
    flex-grow: 1;
    padding: 0 4px;
  }

  .LabelsSelector {
    width: 200px;
  }

  .actions {
    width: 100px;
    padding: 0 4px;
  }

}
