.LabelForm {
  padding: $spacing-unit;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-control {
    width: 100%;
    margin: calc($spacing-unit / 2) 0;
    display: flex;
    align-items: center;
    gap: $spacing-unit;

    & > :first-child {
      flex-grow: 1;
    }

    label {
      font-weight: bold;
    }

    .NameInput {
      width: 200px;
    }

    .label-preview {
      label {
        margin-right: $spacing-unit;
        font-style: italic;
      }
    }
  }

}
