.ToolbarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 2px 4px $color-shadow;
  background-color: $color-secondary;
  color: $font-color-light;

  &:hover {
    background-color: $color-tertiary;
    color: $font-color-dark;
  }
}
