@import '../../../app-colors.scss';

.OperationsTable {
  padding: 10px 0;

  .row {
    display: flex;
    align-items: center;
  }

  .body-row {
    .OperationForm {
      width: 100%;
    }
    &.edit-mode {
      margin: 5px 0;
    }
    &.positive {
      background-color: $white;
    }
    &.negative {
      background-color: $white;
    }
  }

  .cell {
    padding: 2px 0;
    font-size: 14px;
  }

  .header-cell {
    border-bottom: 1px solid $black;
    font-weight: bold;
  }


  .column-select {
    width: 28px;
  }

  .column-date {
    width: 100px;
  }

  .column-amount {
    width: 80px;
  }

  .column-reference {
    flex-grow: 1;
  }

  .column-labels {
    width: 150px;
  }

  .column-actions {
    width: 100px;
    .ActionButton {
      margin: 0 4px;
    }
  }

}
