.generic-table {
  &__head,
  &__body {
    display: flex;
    flex-direction: column;

    &__row {
      display: grid;
    }
  }

  &__head__row {
    border-bottom: 1px solid $color-tertiary;

    &__cell {
      padding: calc($spacing-unit / 2);
      font-weight: bold;
    }
  }

  &__body__row {
    position: relative;
    
    &:nth-child(odd) {
      background-color: rgba($color-tertiary, 0.3);
    }

    &__overlay {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    
    &__cell {
      margin-top: auto;
      margin-bottom: auto;
      padding: calc($spacing-unit / 4) calc($spacing-unit / 2);
    }
  }
}
