// Kilimanjaro Colors
// ==================

// Generic colors
// Note : color names come from https://colornamer.netlify.com/
$aqua: #0FF;
$aqua-a02: rgba(0, 255, 255, 0.2);
$argent: #888;
$black: #000;
$black-a02: rgba(0, 0, 0, 0.2);
$cerebral-grey: #CCC;
$coastal-breeze: #E0F7FA;
$fine-pine: #080;
$grey-of-darkness: #A1A1A1;
$iris-eyes: #767695;
$magical-merlin: #3A8AD5;
$orange: #FFA500;
$red: #F00;
$super-silver: #EEE;
$super-silver-a05: rgba(238, 238, 238, 0.5);
$white: #FFF;

// Component Colors
$app-background: #FEFEFE;
$app-header: #CCB9BC;
$box-shadow: #888;
$button-danger: #EEE;
$button-primary: #EEE;
$button-secondary: #EEE;
$container-header: #ECD9DC;
$notif-info: #080;
$notif-warning: #FFA500;
$notif-error: #F00;
$toolbar-button: #AD1457;
$toolbar-button-hover: #CCC;
