@import "@/styles/mixins/input";

.DateInput {
  position: relative;
  display: inline-block;
  padding-right: calc($spacing-unit / 2);

  input {
    @include input;
    width: 100%;
    font-size: 0.95rem;
  }
}
