// Kilimanjaro App Colors
// ======================

// Note : color names come from https://colornamer.netlify.com/


$black: #000;
$cerebral-grey: #CCC;
$coastal-breeze: #E0F7FA;
$grey-of-darkness: #A1A1A1;
$iris-eyes: #767695;
$magical-merlin: #3A8AD5;
$white: #FFF;
