.DialogViewport {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-shadow;

  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }
  
  .dialog {
    min-width: 75%;
    min-height: 75%;
    border-radius: 10px;
    box-shadow: 0 0 10px $color-shadow;
    background-color: $color-white;

    .dialog-header {
      display: flex;
      align-items: center;
      padding: calc($spacing-unit / 2) $spacing-unit;
      border-bottom: 1px solid $color-tertiary;
      font-size: 2rem;
      font-weight: bold;

      .ActionButton {
        margin-left: auto;
      }
    }
  }

}
