@import '../../app-colors.scss';

.NotificationContainer {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;

  .notification {
    margin: 20px;
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 0 4px $argent;
    word-wrap: break-word;
    background-color: $white;
    &.info {
      background-color: $fine-pine;
      color: $white;
    }
    &.warning {
      background-color: $orange;
    }
    &.error {
      background-color: $red;
      color: $white;
    }
  }

}
