.NotificationViewport {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;

  .notification {
    width: 300px;
    margin: $spacing-unit * 2;
    padding: $spacing-unit;
    border-radius: calc($spacing-unit / 2);
    box-shadow: 0 0 4px $color-shadow;
    word-wrap: break-word;
    background-color: $color-white;

    &.info {
      background-color: $color-blue;
      color: $color-white;
    }

    &.warning {
      background-color: $color-orange;
      color: $color-tertiary-dark;
    }

    &.error {
      background-color: $color-red;
      color: $color-white;
    }
  }

}
