@import '../../../app-colors.scss';

.NotificationViewport {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;

  .notification {
    margin: 20px;
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 0 4px $box-shadow;
    word-wrap: break-word;
    background-color: $white;
    &.info {
      background-color: $notif-info;
      color: $white;
    }
    &.warning {
      background-color: $notif-warning;
    }
    &.error {
      background-color: $notif-error;
      color: $white;
    }
  }

}
