@font-face {
  font-family: "Ubuntu";
  src: url(./fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Old Standard TT";
  src: url(./fonts/OldStandardTT-Regular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-family-text;
  color: $font-color;
}

body {
  margin: 0;
  padding: 0;
}
