.App {
  --header-height: 56px;

  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #F7F7F7;

  &__header {
    height: var(--header-height);
    margin: 0;
    padding: $spacing-unit $spacing-unit * 2;
    background-color: $color-primary;
  
    h1 {
      margin: 0;
      font-size: 2rem;
      color: $font-color-light;
    }
  }

  &__body {
    position: relative;
    display: grid;
    grid-template-columns: 60px 1fr 120px;
    width: 100%;
    height: calc(100% - var(--header-height));
    overflow: hidden;

    &__left-container,
    &__main-container,
    &__right-container {
      height: 100%;
      overflow: auto;
    }

    &__main-container {
      padding: $spacing-unit;
      display: flex;
      flex-direction: column;
      gap: $spacing-unit;
    }
  }
}
