// --- COLORS ---
$color-primary:         rgb(   67, 160,  71       );
$color-primary-dark:    rgb(    0, 112,  26       );
$color-primary-light:   rgb(  118, 210, 117       );

$color-secondary:       rgb(  173,  20,  87       );
$color-secondary-dark:  rgb(  120,   0,  46       );
$color-secondary-light: rgb(  227,  81, 131       );

$color-tertiary:        rgb(  224, 224, 224       );
$color-tertiary-dark:   rgb(  174, 174, 174       );
$color-tertiary-light:  rgb(  255, 255, 255       );

$color-red:             rgb(  220,  20,  60       );
$color-orange:          rgb(  255, 165,   0       );
$color-green:           rgb(    0, 136,   0       );
$color-blue:            rgb(   58, 138, 213       );
$color-white:           rgb(  255, 255, 255       );
$color-black:           rgb(    0,   0,   0       );
$color-shadow:          rgba(   0,   0,   0, 0.2  );

// --- FONTS ---
$font-size:             14px;
$font-color:            $color-black; 
$font-color-dark:       $color-black;
$font-color-light:      $color-white;
$font-family-text:      'Ubuntu', sans-serif;
$font-family-number:    'Old Standard TT', serif;

// --- SPACING ---
$spacing-unit:          12px;
