@import '../../app-colors.scss';

.DialogContainer {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  &.hidden { display: none; }
  justify-content: center;
  align-items: center;
  
  .dialog {
    min-width: 50%;
    min-height: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px $argent;
    background-color: $white;
    .dialog-header {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border-bottom: 1px solid $super-silver;
      font-size: 24px;
      font-weight: bold;
      
      .IconButton {
        margin-left: auto;
      }
    }
  }

}
