@mixin input {
  padding: calc($spacing-unit / 2) calc($spacing-unit / 3);
  border: 1px solid $color-tertiary-dark;
  border-radius: 2px;
  outline: none;
  font-size: 0.95rem;

  &:focus,
  &.focus {
    border-color: $color-blue;
  }
}
