.Timeline {
  width: 100%;
  height: 100%;
  padding: $spacing-unit calc($spacing-unit / 2);

  .month-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    font-weight: bold;

    &.selected {
      justify-content: center;
      border-top-left-radius: calc($spacing-unit / 2);
      border-bottom-left-radius: calc($spacing-unit / 2);
      box-shadow: -2px 0 4px $color-shadow;
      scale: 1;
    }
  }

  .year-separator {
    margin: calc($spacing-unit / 2) 0;
    padding-left: $spacing-unit;
    font-weight: bold;

    .line {
      display: inline-block;
      vertical-align: middle;
      width: 48px;
      border: 1px solid $color-black;
    }
  }

}
