@import "@/styles/mixins/input";

.AmountInput {
  display: inline-block;

  input {
    @include input;
    width: 100%;
    font-family: $font-family-number;
    font-weight: bold;

    &.positive {
      color: $color-green;
    }

    &.negative {
      color: $color-red;
    }
  }
}
